
*{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(104, 104, 201);
    justify-content: center;
}

.perfil-content {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.perfil{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .perfil-content
     {
        display: none;
        }
  }

.perfil img {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 190px;
    border-radius: 15em;
    border: 2px solid rgb(21, 12, 116);
    margin-top: 17em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.perfil a {
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 13px;
    color: #ffff;
    font-weight: 600;
}

.sobre-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: #ffff;
}

.sobre h1{
    margin-bottom: 17px;
    font-size: 45px;
}

.sobre h3 {
    color: rgb(27, 36, 113);
    margin-bottom: 12px;
    font-size: 35px;
    font-weight: 300;
}

.sobre p {
    font-size: 19px;
    font-weight: 200;
    margin-bottom: 25px;
}

.sobre a {
    text-decoration: none;
    color: #ffff;
}

.sobre .link-cta {
    padding: 0.9em;
    border-radius: 9px;
    background: rgb(43, 10, 121);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 700;
    letter-spacing: 1px;
    transition: 0.5s;
}

.link-cta:hover {
    background: rgb(59, 21, 148);
    box-shadow: none;
}
